:root{
    --light-square:#CDB7AF;
    --dark-square:#706677;
    --highlight-moves:#34343434;
    --selected-square: #b77777ba;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .chess-board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    align-items: center;
    justify-items: center;
}

.square {
    width: 100%;
    height: 100%;
    user-select: none;
    position: relative;
}

.square .piece {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: grab;
}

.light-square {
    background-color: var(--light-square);
}

.dark-square {
    background-color: var(--dark-square);
}

.selected-square{
    background: var(--selected-square);
}

.valid-move {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--highlight-moves);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}